.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity = 0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media screen and (max-width: 786px) {
    .socialIconTwitter {
        display: none;
    }
    .socialIconFacebook {
        display: none;
    }
    .socialIconGooglePlus {
        display: none;
    }
}

@media screen and (min-width: 786px) {
    .socialIconTwitter {
        background-color: white;
        color: #32CCFE;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    }
    .socialIconFacebook {
        background-color: white;
        color: #3C599F;
        padding-right: 5px;
        cursor: pointer;
    }
    .socialIconGooglePlus {
        background-color: white;
        color: #CF3D2E;
        padding-right: 5px;
        cursor: pointer;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
}
.btn-sq-75 {
    width: 75px !important;
    height: 75px !important;
}

.btn-sq i{
    font-size: 50px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.modal-dialog-full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content-full {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

/* to increase gap between form controls in inline forms */
.form-inline > * {
    margin:10px 10px !important;
}

.form {
    border: 2px solid #adadad;
    padding: 10px 10px;
    background: #e3e3e3;
    /*width: 300px;*/
    border-radius: 5px;
    /*background-color: #E8E8E8;*/
}

.close {
    color: red;  
    opacity: 1;
}
/*
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #66afe9;
}
*/
.form-control-sm{
    height:28px;
    font-size:12px;
}