<div class="modal fade" id="importItemModal" role="dialog" ng-controller="importItemController">
    <div class="modal-dialog modal-dialog-full">

        <!-- Modal content-->
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item Grid</h4>
            </div>
            <div class="modal-body">

                <label class="btn btn-default btn-file" for="file">
                    Browse 
                    <input type="file" name="file" id="file" ng-model="file" onchange="angular.element(this).scope().setFile(this.files[0])" >
                </label>
                <table id="importItemTable" class="display table table-hover table-striped table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Drawing Version</th>
                            <th>Size</th>
                            <th>Volume</th>
                            <th>Weight</th>
                            <th>Type</th>
                            <th>Paint Code</th>
                            <th>Paint Description</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>