<div class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="menuController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            <!--href="/file-manager-client"-->
            <a ng-click="goHome()"> 
                <img alt="logo" class="pull-left" style="padding-left: 10px; padding-right: 10px; padding-top: 10px;" src="img/logo.png" />
            </a> 
            <a class="navbar-brand" ng-click="goHome()"> {{organization}} </a>
        </div>
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a data-toggle="modal" href="#/dms" >DMS</a>
                </li>
                <li ng-repeat="menu in menus">
                    <a data-toggle="modal" href="" data-target="{{menu.target}}" >{{menu.name}}</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->

</div>
<div ng-include="'pages/login-form.html'"></div>
<div ng-include="'pages/register-form.html'"></div>
<div ng-include="'pages/logout.html'"></div>