
<div class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="menuController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            <!--href="/file-manager-client"-->
            <a ng-click="goHome()"> 
                <img alt="logo" class="pull-left" style="padding-left: 10px; padding-right: 10px; padding-top: 10px;" src="img/logo.png" />
            </a> 
            <a class="navbar-brand" ng-click="goHome()"> {{organization}} </a>
        </div>
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a data-toggle="modal" href="#/dms" >DMS</a>
                </li>
                <!-- 
                <li>
                    <a data-toggle="modal" href="#/kpi" >KPI</a>
                </li>
                -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#/kpi">
                        Forms
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">                        

                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer</a>
                            <ul class="dropdown-menu">

                                <li><a data-toggle="modal" data-target="#saleTypeModal">SaleType</a></li>
                                <li><a data-toggle="modal" data-target="#countryModal">country</a></li>
                                <li><a data-toggle="modal" data-target="#incotermModal">Incoterm</a></li>
                                <li><a data-toggle="modal" data-target="#currencyModal">Currency</a></li>
                                <li><a data-toggle="modal" data-target="#customerModal">Customer</a></li>

                            </ul>



                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item</a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#itemTypeModal">Item Type</a></li>
                                <li><a data-toggle="modal" data-target="#paintModal">Paint</a></li>

                                <li><a data-toggle="modal" data-target="#itemModal">Item</a></li>
                            </ul>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Point</a>
                            <ul class="dropdown-menu">

                                <li><a data-toggle="modal" data-target="#sectionModal">Section</a></li>
                                <li><a data-toggle="modal" data-target="#costCenterModal">CostCenter</a></li>
                                <li><a data-toggle="modal" data-target="#workCenterModal">Work Center</a></li>
                                <li><a data-toggle="modal" data-target="#controlPointModal">Control Point</a></li>
                            </ul>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reason</a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#lossReasonModal">Loss Reason</a></li>
                                <li><a data-toggle="modal" data-target="#manpowerTypeModal">Manpower Type</a></li>
                                <li><a data-toggle="modal" data-target="#lossTypeModal">LossType</a></li>
                            </ul>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales Order</a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#salesOrderModal">Sales Order</a></li>
                                <li><a data-toggle="modal" data-target="#salesOrderTypeModal">Sales Order Type</a></li>
                                <li><a data-toggle="modal" data-target="#salesOrderItemModal">Sales Order Item</a></li>

                            </ul>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Job</a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#jobTypeModal">Job Type</a></li>
                                <li><a data-toggle="modal" data-target="#jobModal">Job</a></li>  


                            </ul>

                        <li><a data-toggle="modal" data-target="#customerItemModal">Customer Item</a></li>
                        
                        <li><a data-toggle="modal" data-target="#dispatchModal">Dispatch</a></li>



                        <li><a data-toggle="modal" data-target="#machineModal">Machine</a></li>
                        
                        <li><a data-toggle="modal" data-target="#itemMachineModal">Item Machine</a></li>
                        <li><a data-toggle="modal" data-target="#shiftModal">Shift</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#/kpi">
                        Planning
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">                       
                        <li><a data-toggle="modal" data-target="#controlPointPlanModal">Planning</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#/kpi">

                        Production
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">


                        <li><a data-toggle="modal" data-target="#controlPointRunModal">Production</a></li>
                        <li><a data-toggle="modal" data-target="#energyModal">Energy</a></li>
                        <li><a data-toggle="modal" data-target="#deliveryModal">delivery</a></li>


                    </ul>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" >
                        Grids
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#controlPointGridModal">Control Point</a></li>
                        <li><a data-toggle="modal" data-target="#customerGridModal">Customer</a></li>
                        <li><a data-toggle="modal" data-target="#lossTypeGridModal">LossType</a></li>
                        <li><a data-toggle="modal" data-target="#lossReasonGridModal">Loss Reason</a></li>
                        <li><a data-toggle="modal" data-target="#machineGridModal">Machine</a></li>
                        <li><a data-toggle="modal" data-target="#itemGridModal">Item</a></li>
                        <li><a data-toggle="modal" data-target="#itemTypeGridModal">Item Type</a></li>
                        <li><a data-toggle="modal" data-target="#manpowerTypeGridModal">Manpower Type</a></li>
                        <li><a data-toggle="modal" data-target="#sectionGridModal">Section</a></li>
                        <li><a data-toggle="modal" data-target="#workCenterGridModal">Work Center</a></li>
                        <li><a data-toggle="modal" data-target="#shiftGridModal">Shift</a></li>
                        <li><a data-toggle="modal" data-target="#currencyGridModal">Currency</a></li>
                        <li><a data-toggle="modal" data-target="#incotermGridModal">Incoterm</a></li>
                        <li><a data-toggle="modal" data-target="#countryGridModal">Country</a></li>
                        <li><a data-toggle="modal" data-target="#costCenterGridModal">Cost Center</a></li>
                        <li><a data-toggle="modal" data-target="#saleTypeGridModal">SaleType</a></li>
                        <li><a data-toggle="modal" data-target="#paintGridModal">Paint</a></li>
                        <li><a data-toggle="modal" data-target="#jobGridModal">Job</a></li>
                        <li><a data-toggle="modal" data-target="#salesOrderGridModal">Sales Order</a></li>
                        <li><a data-toggle="modal" data-target="#salesOrderTypeGridModal">Sales Order Type</a></li>
                        <li><a data-toggle="modal" data-target="#customerItemGridModal">Customer Item</a></li>
                        <li><a data-toggle="modal" data-target="#salesOrderItemGridModal">Sales Order Item</a></li>
                        <li><a data-toggle="modal" data-target="#deliveryGridModal">Delivery</a></li>
                        <li><a data-toggle="modal" data-target="#energyGridModal">Energy</a></li>
                        <li><a data-toggle="modal" data-target="#jobTypeGridModal">Job Type</a></li>
                        <li><a data-toggle="modal" data-target="#itemMachineGridModal">Item Machine</a></li>
                        <li><a data-toggle="modal" data-target="#controlPointRunGridModal">Control point Activity</a></li>
                        <li><a data-toggle="modal" data-target="#controlPointRunJobGridModal">Control point Job</a></li>
                        <li><a data-toggle="modal" data-target="#controlPointRunLossGridModal">Control point Loss</a></li>
                        <li><a data-toggle="modal" data-target="#controlPointRunManpowerGridModal">Control point Run Manpower</a></li>
                        <li><a data-toggle="modal" data-target="#controlPointPlanManpowerGridModal">Control point Plan Manpower</a></li>
                        <li><a data-toggle="modal" data-target="#controlPointPlanJobGridModal">Control point Plan Job</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#/kpi">
                        Chart
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">                       
                        <li><a data-toggle="modal" data-target="#lossReasonChartModal">Loss Reason</a></li>
                        <li><a data-toggle="modal" data-target="#defectTypeChartModal">Defect Type</a></li>
                        <li><a data-toggle="modal" data-target="#defectAndScrapChartModal">Defect And Scrap</a></li>
                        <li><a data-toggle="modal" data-target="#scheduleAdhereanceChartModal">Schedule Adhereance</a></li>
                        <li><a data-toggle="modal" data-target="#attendanceChartModal">Attendance</a></li>
                        <li><a data-toggle="modal" data-target="#mtbChartModal">MTB</a></li>
                        <li><a data-toggle="modal" data-target="#mttrChartModal">MTTR</a></li>
                        <li><a data-toggle="modal" data-target="#mtbfChartModal">MTBF</a></li>

                    </ul>
                </li><li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#/kpi">
                        Import
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">                       
                        <li><a data-toggle="modal" data-target="#importCountryModal">Country</a></li>
                        <li><a data-toggle="modal" data-target="#importItemModal">Item</a></li>
                        <li><a data-toggle="modal" data-target="#importPaintModal">Paint</a></li>
                        <li><a data-toggle="modal" data-target="#importCustomerModal">Customer</a></li>
                        <li><a data-toggle="modal" data-target="#importItemTypeModal">Item Type</a></li>
                        <li><a data-toggle="modal" data-target="#importMachineModal">Machine</a></li>
                        <li><a data-toggle="modal" data-target="#importSectionModal">Section</a></li>
                        <li><a data-toggle="modal" data-target="#importCostCenterModal">Cost Center</a></li>
                        <li><a data-toggle="modal" data-target="#importWorkCenterModal">Work Center</a></li>
                        <li><a data-toggle="modal" data-target="#importControlPointModal">Control Point</a></li>
                        <li><a data-toggle="modal" data-target="#importJobModal">Job</a></li>
                        <li><a data-toggle="modal" data-target="#importControlPointRunModal">Control Point Run</a></li>
                        <li><a data-toggle="modal" data-target="#importLossReasonModal">Loss Reason</a></li>
                        <li><a data-toggle="modal" data-target="#importCustomerItemModal">Customer Item</a></li>
                    </ul>
                </li>
                <li ng-repeat="menu in menus">
                    <a data-toggle="modal" href="" data-target="{{menu.target}}" >{{menu.name}}</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->

</div>
<div ng-include="'pages/login-form.html'"></div>
<div ng-include="'pages/register-form.html'"></div>
<div ng-include="'pages/logout.html'"></div>

<div ng-include="'pages/forms/customer.html'"></div>
<div ng-include="'pages/forms/item-type.html'"></div>
<div ng-include="'pages/forms/item.html'"></div>
<div ng-include="'pages/forms/job.html'"></div>
<div ng-include="'pages/forms/section.html'"></div>
<div ng-include="'pages/forms/work-center.html'"></div>
<div ng-include="'pages/forms/control-point.html'"></div>
<div ng-include="'pages/forms/control-Point-plan.html'"></div>
<div ng-include="'pages/forms/control-point-run.html'"></div>
<div ng-include="'pages/forms/loss-reason.html'"></div>
<div ng-include="'pages/forms/manpower-type.html'"></div>
<div ng-include="'pages/forms/loss-type.html'"></div>
<div ng-include="'pages/forms/quality.html'"></div>
<div ng-include="'pages/forms/machine.html'"></div>
<div ng-include="'pages/forms/breakdown.html'"></div>
<div ng-include="'pages/forms/energy.html'"></div>
<div ng-include="'pages/forms/shift.html'"></div>
<div ng-include="'pages/forms/currency.html'"></div>
<div ng-include="'pages/forms/incoterm.html'"></div>
<div ng-include="'pages/forms/country.html'"></div>
<div ng-include="'pages/forms/cost-center.html'"></div>
<div ng-include="'pages/forms/sale-type.html'"></div>
<div ng-include="'pages/forms/paint.html'"></div>
<div ng-include="'pages/forms/salesOrder.html'"></div>
<div ng-include="'pages/forms/sales-order-type.html'"></div>
<div ng-include="'pages/forms/customer-item.html'"></div>
<div ng-include="'pages/forms/sales-order-item.html'"></div>
<div ng-include="'pages/forms/delivery.html'"></div>
<div ng-include="'pages/forms/job-type.html'"></div>
<div ng-include="'pages/forms/item-machine.html'"></div>
<div ng-include="'pages/forms/dispatch.html'"></div>

<div ng-include="'pages/grids/controlPoint.html'"></div>
<div ng-include="'pages/grids/customer.html'"></div>
<div ng-include="'pages/grids/lossType.html'"></div>
<div ng-include="'pages/grids/lossReason.html'"></div>
<div ng-include="'pages/grids/machine.html'"></div>
<div ng-include="'pages/grids/item.html'"></div>
<div ng-include="'pages/grids/itemType.html'"></div>
<div ng-include="'pages/grids/manpowerType.html'"></div>
<div ng-include="'pages/grids/section.html'"></div>
<div ng-include="'pages/grids/workCenter.html'"></div>
<div ng-include="'pages/grids/shift.html'"></div>
<div ng-include="'pages/grids/currency.html'"></div>
<div ng-include="'pages/grids/incoterm.html'"></div>
<div ng-include="'pages/grids/country.html'"></div>
<div ng-include="'pages/grids/costCenter.html'"></div>
<div ng-include="'pages/grids/saleType.html'"></div>
<div ng-include="'pages/grids/paint.html'"></div>
<div ng-include="'pages/grids/job.html'"></div>
<div ng-include="'pages/grids/salesOrder.html'"></div>
<div ng-include="'pages/grids/salesOrderType.html'"></div>
<div ng-include="'pages/grids/customerItem.html'"></div>
<div ng-include="'pages/grids/salesOrderItem.html'"></div>
<div ng-include="'pages/grids/delivery.html'"></div>
<div ng-include="'pages/grids/energy.html'"></div>
<div ng-include="'pages/grids/jobType.html'"></div>
<div ng-include="'pages/grids/itemMachine.html'"></div>
<div ng-include="'pages/grids/controlpointRun.html'"></div>
<div ng-include="'pages/grids/controlpointRunJob.html'"></div>
<div ng-include="'pages/grids/controlpointRunLoss.html'"></div>
<div ng-include="'pages/grids/controlpointRunManpower.html'"></div>
<div ng-include="'pages/grids/controlpointPlanManpower.html'"></div>
<div ng-include="'pages/grids/controlpointPlanJob.html'"></div>

<div ng-include="'pages/chart/loss-reason.html'"></div>
<div ng-include="'pages/chart/defect-type.html'"></div>
<div ng-include="'pages/chart/defect-and-scrap.html'"></div>
<div ng-include="'pages/chart/schedule-adhereance.html'"></div>
<div ng-include="'pages/chart/attendance.html'"></div>
<div ng-include="'pages/chart/mtb.html'"></div>
<div ng-include="'pages/chart/mttr.html'"></div>
<div ng-include="'pages/chart/mtbf.html'"></div>

<div ng-include="'pages/chart/production.html'"></div>
<div ng-include="'pages/chart/engineering.html'"></div>

<div ng-include="'pages/import/country.html'"></div>
<div ng-include="'pages/import/item.html'"></div>
<div ng-include="'pages/import/paint.html'"></div>
<div ng-include="'pages/import/customer.html'"></div>
<div ng-include="'pages/import/itemType.html'"></div>
<div ng-include="'pages/import/machine.html'"></div>
<div ng-include="'pages/import/section.html'"></div>
<div ng-include="'pages/import/costCenter.html'"></div>
<div ng-include="'pages/import/workCenter.html'"></div>
<div ng-include="'pages/import/controlPoint.html'"></div>
<div ng-include="'pages/import/job.html'"></div>
<div ng-include="'pages/import/controlPointRun.html'"></div>
<div ng-include="'pages/import/lossReason.html'"></div>
<div ng-include="'pages/import/customerItem.html'"></div>
