<div class="modal fade" id="controlPointModal" role="dialog" ng-controller="controlPointFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Control Point </h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group row">
                        <label for="code" class="col-xs-2 col-form-label col-form-label-sm">Code:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control input-sm" id="code" placeholder="" name="code" ng-model="controlPoint.code">
                        </div>
                    </div>
                        <div class="form-group row">
                            <label for="name" class="col-xs-2 col-form-label col-form-label-sm">name:</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control input-sm" id="name" placeholder="" name="name" ng-model="controlPoint.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="code" class="col-xs-2 col-form-label col-form-label-sm">WCC:</label>
                            <div class="col-xs-10">
                                <select class="form-control input-sm" id="wcc" name="wcc" ng-model="workCenter" ng-change="test()">	
                                    <option ng-repeat="workCenter in workCenters" value="{{workCenter}}">{{workCenter.code}}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="section" class="col-xs-2 col-form-label col-form-label-sm">Cost Center</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control input-sm" id="costCenter" placeholder="" name="costCenter" value="{{costCenter.code}}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> Save</button>
                        <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>