<div class="modal fade" id="controlPointModal" role="dialog" ng-controller="controlPointFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Control Point </h4>
            </div>
            <div class="modal-body">

                <form class="form">

                    <div class="form-group">
                        <br/>
                        <br/>


                        <label class="control-label col-sm-4" for="code">Code:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="code" placeholder="" name="code" ng-model="code">
                        </div>
                   
                        <br/>
                        <br/>


                        <label class="control-label col-sm-4" for="name">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="name" placeholder="" name="name" ng-model="name">
                        </div>
                   
                        <br/>
                        <br/>
                        <label class="control-label col-sm-4" for="wcc">WCC:</label>

                        <div class="col-sm-8">
                            <select class="form-control input-sm" id="wcc" name="wcc" ng-model="wcc">	
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option> 
                            </select>
                        </div>
                    
                        <br/>
                        <br/>
                        <label class="control-label col-sm-4" for="section">section:</label>

                        <div class="col-sm-8">
                            <select class="form-control input-sm" id="section" name="section" ng-model="section">	
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option> 
                            </select>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="icon-save"></i> Save</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>