<div class="modal fade" id="customerModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <br/>
                    <br/>


                    <label class="control-label col-sm-4" for="customerNo">Customer No:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="customerNo" placeholder="" name="customerNo" ng-model="customerNo">
                    </div>
                </div>
                <div class="form-group">
                    <br/>
                    <br/>

                    <label class="control-label col-sm-4" for="customerName">Customer Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="customerName" placeholder="" name="customerName" ng-model="customerName">
                    </div>
                </div>
                <div class="form-group">
                    <br/>
                    <br/>


                    <label class="control-label col-sm-4" for="customerCode">Customer Code:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="customerCode" placeholder="" name="customerCode" ng-model="customerCode">
                    </div>
                </div>
                <br/>
                <br/>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>