<div class="modal fade" id="customerModal" role="dialog" ng-controller="customerFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer</h4>
            </div> 
            <div class="modal-body">
                <div class="form">
                    <div class="form-group row">
                        <label for="code" class="col-xs-2 col-form-label col-form-label-sm">Code:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="code" placeholder="" name="code" ng-model="code">
                        </div>
                    </div>                
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Name:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="name" placeholder="" name="name" ng-model="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Office Address:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="officeAddress" placeholder="" name="officeAddress" ng-model="officeAddress">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Consignee:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="consignee" placeholder="" name="consignee" ng-model="consignee">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Notify Party:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="notifyParty" placeholder="" name="notifyParty" ng-model="notifyParty">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Contact:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="contact" placeholder="" name="contact" ng-model="contact">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Phone No:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="phoneNo" placeholder="" name="phoneNo" ng-model="phoneNo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Fax:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="fax" placeholder="" name="fax" ng-model="fax">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Payment Term:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="paymentTerm" placeholder="" name="paymentTerm" ng-model="paymentTerm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Incoterm:</label>
                        <div class="col-xs-10">
                            <select class="form-control input-sm" id="incoterm" name="incoterm" ng-model="incoterm">	
                                <option ng-repeat="incoterm in incoterms" value="incoterm.id">{{incoterm.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Cust Type:</label>
                        <div class="col-xs-10">
                            <select class="form-control input-sm" id="custType" name="custType" ng-model="custType">	
                                <option ng-repeat="custType in custTypes" value="custType.id">{{custType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Vat No:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="vatNo" placeholder="" name="vatNo" ng-model="vatNo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">S Vat No:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="sVatNo" placeholder="" name="sVatNo" ng-model="sVatNo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Currency:</label>
                        <div class="col-xs-10">
                            <select class="form-control input-sm" id="currency" name="currency" ng-model="currency">	
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Country:</label>
                        <div class="col-xs-10">
                            <select class="form-control input-sm" id="country" name="country" ng-model="country">	
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Final Destination:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="finalDestination" placeholder="" name="finalDestination" ng-model="finalDestination">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Continent:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="continent" placeholder="" name="continent" ng-model="continent">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label col-form-label-sm">Note:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="note" placeholder="" name="note" ng-model="note">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>
