<!-- Modal -->
<div class="modal fade" id="deliveryModal" role="dialog" ng-controller="deliveryFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delivery</h4>
            </div>
            <div class="modal-body">

                <form class="form">

                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-4" for="deliveryDate">Delivery Date:</label>
                        <div class='col-sm-8'>
                            <div class='input-group date' id='deliveryDatetimepicker'>
                                <input type='text' class="form-control form-control-sm" id="date" name="date" ng-model="delivery.deliveryDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                        $(function () {
                                            $('#deliveryDatetimepicker').datetimepicker();
                                        });
                            </script>
                        </div>

                        <br/>
                        <br/>
                        <label class="control-label col-sm-4" for="quantity">Delivery Quantity:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="quantity" placeholder="" name="quantity" ng-model="delivery.quantity">
                        </div>
                        <br/>
                        <br/>
                         <label class="control-label col-sm-4" for="location">Location:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="location" placeholder="" name="location" ng-model="delivery.location">
                        </div>
                        <br/>
                        <br/>

                        <label class="control-label col-sm-4" for="item">Item :</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="delivery.item" ng-options="item.code for item in items track by item.id" ></select>                 
                        </div>

                        <br/>
                        <br/>                  

                       
                        <label class="control-label col-sm-4" for="salesOrder">Sales Order:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="delivery.salesOrder" ng-options="salesOrder.poNumber for salesOrder in salesOrders track by salesOrder.id" ></select>                                 
                        </div>

                       
                    <br/>
                    <br/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> {{saveButtonText}}</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>
