<div class="modal fade" id="energyModal" role="dialog" ng-controller="energyFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Energy Consumption</h4>
            </div>
            <div class="modal-body">

                <div class="form">

                    <div class="form-group row">
                        <label class="col-xs-2 col-form-label col-form-label-sm" for="energyDate">Date:</label>
                        <div class='col-xs-10'>
                            <div class='input-group date' id='trwConfirmedDateTimepicker'>
                                <input type='text' class="form-control form-control-sm" id="trwConfirmedDate" name="energyDate" ng-model="energy.energyDate" /> <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                        $(function () {
                                            $('#trwConfirmedDateTimepicker')
                                                    .datetimepicker({
                                                        format: 'YYYY-MM-DD'
                                                    });
                                        });
                            </script>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="shift">Shift:</label>
                        <div class='col-xs-10'>
                            <select class="form-control input-sm" ng-model="energy.shift" ng-options="shift.name for shift in shifts track by shift.id">

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="jobNo">Job No:</label>

                        <div class="col-xs-10">
                            <select class="form-control input-sm" ng-model="energy.jobNo" ng-options="jobNo.code for jobNo in jobNos track by jobNo.id"></select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="machineNo">Machine No:</label>
                        <div class="col-xs-10">
                            <select class="form-control input-sm" ng-model="energy.machineNo" ng-options="machineNo.code for machineNo in machineNos track by machineNo.id"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="consumptionRate">Consumption Rate:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control form-control-sm" id="consumptionRate" placeholder="" name="consumptionRate" ng-model="energy.consumptionRate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> {{saveButtonText}}</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>

        </div>
    </div>
</div>