<div class="modal fade" id="lossModal" role="dialog" ng-controller="lossFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Loss </h4>
            </div>
            <div class="modal-body">

                <form class="form">

                    <div class="form-group">
                        <br/>
                        <br/>


                        <label class="control-label col-sm-4" for="code">Code:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="code" placeholder="" name="code" ng-model="code">
                        </div>
                    
                        <br/>
                        <br/>


                        <label class="control-label col-sm-4" for="type">Type:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="type" placeholder="" name="type" ng-model="type">
                        </div>
                    
                        <br/>
                        <br/>


                        <label class="control-label col-sm-4" for="typeInShinhala">Type in Sinhala:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="typeInShinhala" placeholder="" name="typeInShinhala" ng-model="typeInShinhala">
                        </div>
                    </div>
                    <br/>
                    <br/>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>