<div class="modal fade" id="machineModal" role="dialog" ng-controller="machineFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Machine</h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <br/>
                        <br/>


                        <label class="control-label col-sm-4" for="code">Machine No:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="code" placeholder="" name="code" ng-model="code">
                        </div>

                        <br/>
                        <br/>




                        <label class="control-label col-sm-4" for="name">Machine Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="name" placeholder="" name="name" ng-model="name">
                        </div>
                    </div>

                    <br/>
                    <br/>
                    <label class="control-label col-sm-4" for="wcc">wcc:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" id="wcc" placeholder="" name="wcc" ng-model="wcc">
                    </div>

                    <br/>
                    <br/>


                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>

        </div>
    </div>
</div>