<!-- Modal -->
<div class="modal fade" id="productionModal" role="dialog" ng-controller="productionFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Production</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group form-inline">
                        <label class="control-label col-sm-3" for="productionDate">Date:</label>
                        <div class='col-sm-3'>
                            <div class='input-group date' id='productDatetimepicker'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                        $(function () {
                                            $('#productDatetimepicker').datetimepicker();
                                        });
                            </script>
                        </div>

                        <label class="control-label col-sm-3" for="productionDate">Shift:</label>
                        <div class='col-sm-3'>

                            <select class="form-control" id="shift" name="shift" ng-model="shift">	
                                <option value="volvo">Day</option>
                                <option value="saab">Night</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-inline">

                        <label class="control-label col-sm-3" for="productionDate">CP Code:</label>
                        <div class='col-sm-3'>

                            <select class="form-control" id="controlPointCode" name="controlPointCode" ng-model="controlPointCode">	
                                <option value="cp32">CP32</option>
                                <option value="cp33">CP33</option>
                            </select>
                        </div>
                        
                        <label class="control-label col-sm-6" for="productionDate">Steel Band Line</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
