<!-- Modal -->
<div class="modal fade" id="purchaseOrderItemModal" role="dialog" ng-controller="purchaseOrderItemFormController">
    <div class="modal-dialog modal-dialog-full">

        <!-- Modal content-->
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase Order Item</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">

                    <label class="control-label " for="purchaseOrder">Purchase Order:</label>
                    <select class="form-control input-sm" id="custType" name="purchaseOrder" ng-model="purchaseOrder">	
                        <option ng-repeat="purchaseOrder in purchaseOrders" value="{{purchaseOrder}}">{{purchaseOrder.poNumber}}</option>
                    </select>

                    <div class="tab-content">
                        <div id="production" class="tab-pane fade in active">
                            <br/>
                            <div class="form">
                                <div class="form-group">
                                    <label class="control-label " for="item">Item:</label>
                                    <select class="form-control input-sm" id="item" name="item" ng-model="item">	
                                        <option ng-repeat="item in items" value="{{item}}">{{item.name}}</option>
                                    </select>
                                    <label class="control-label " for="quantity">Qty:</label>

                                    <input type="text" class="form-control input-sm" id="quantity" placeholder="" name="quantity" ng-model="purchaseOrderItem.quantity">
                                    <label class="control-label " for="price">Price:</label>

                                    <input type="text" class="form-control input-sm" id="price" placeholder="" name="price" ng-model="purchaseOrderItem.price">


                                    <button type="button" class="btn btn-default" ng-click="addPurchaseOrderItemRow()">Add</button>

                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>customer Item</th>
                                                <th>Quantity</th>
                                                <th>Price</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="purchaseOrderItemRow in purchaseOrderItemRows">
                                                <td>{{purchaseOrderItemRow.item}}</td>                                                
                                                <td>{{purchaseOrderItemRow.customerItem}}</td>
                                                <td>{{purchaseOrderItemRow.quantity}}</td>
                                                <td>{{purchaseOrderItemRow.price}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <br/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>
