<div class="modal fade" id="qualityModal" role="dialog" ng-controller="qualityFormController">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quality </h4>
            </div>
            <div class="modal-body">

                <form class="form">

                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-3" for="qualityDate">date:</label>
                        <div class='col-sm-9'>
                            <div class='input-group date' id='qualityDatetimepicker'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                        $(function () {
                                            $('#qualityDatetimepicker').datetimepicker();
                                        });
                            </script>
                        </div>
                    </div>


                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-3" for="shift">Shift:</label>
                        <div class='col-sm-9'>

                            <select class="form-control" id="shift" name="shift" ng-model="shift">	
                                <option value="volvo">Day</option>
                                <option value="saab">Night</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-3" for="jobNo">Job No:</label>

                        <div class="col-sm-9">
                            <select class="form-control" id="jobNo" name="jobNo" ng-model="jobNo">	
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option> 
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <br/>
                        <br/>

                        <label class="control-label col-sm-3" for="productCode">Product Code:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="productCode" placeholder="" name="productCode" ng-model="productCode">
                        </div>
                    </div>

                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-3" for="defectCode">Defect Code:</label>

                        <div class="col-sm-3">
                            <select class="form-control" id="defectCode" name="defectCode" ng-model="defectCode">	
                                <option value="volvo">SBLD1</option>
                                <option value="saab">SBLD4</option>
                                <option value="opel">SBLD5</option>
                                <option value="audi">SBLD#</option> 
                            </select>
                        </div>

                        <label class="control-label col-sm-3" for="defectQty">Defect Qty:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="defectQty" placeholder="" name="defectQty" ng-model="defectQty">


                        </div>

                    </div>
                    <div class="form-group">
                        <br/>
                        <br/>

                        <label class="control-label col-sm-3" for="defectType">Defect Type:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="defectType" placeholder="" name="defectType" ng-model="defectType">
                        </div>
                    </div>


                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-3" for="scrapCode">Scrap Code:</label>

                        <div class="col-sm-3">
                            <select class="form-control" id="scrapCode" name="scrapCode" ng-model="scrapCode">	
                                <option value="volvo">SBLS3</option>
                                <option value="saab">SBLS2</option>
                                <option value="opel">SBLS4</option>
                                <option value="audi">SBLS1</option> 
                            </select>
                        </div>
                        <label class="control-label col-sm-3" for="scrapQty">Scrap Qty:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="scrapQty" placeholder="" name="scrapQty" ng-model="scrapQty">



                        </div>

                    </div>
                    <div class="form-group">
                        <br/>
                        <br/>

                        <label class="control-label col-sm-3" for="scrapType">Scrap Type:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="scrapType" placeholder="" name="scrapType" ng-model="scrapType">
                        </div>

                    </div>


                    <div class="form-group">
                        <br/>
                        <br/>
                        <label class="control-label col-sm-3" for="lossCode">Loss Code:</label>

                        <div class="col-sm-3">
                            <select class="form-control" id="lossCode" name="lossCode" ng-model="lossCode">	
                                <option value="volvo">LR1</option>
                                <option value="saab">LR5</option>
                                <option value="opel">LR3</option>
                                <option value="audi">LR7</option> 
                            </select>
                        </div>
                        <label class="control-label col-sm-3" for="lossQty">Loss Qty:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="lossQty" placeholder="" name="lossQty" ng-model="lossQty">


                        </div>
                    </div>


                    <div class="form-group">
                        <br/>
                        <br/>

                        <label class="control-label col-sm-3" for="lossReason">Loss Reason:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lossReason" placeholder="" name="lossReason" ng-model="lossReason">
                        </div>

                    </div>
                    <br/>
                    <br/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="save()"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
            </div>

        </div>
    </div>
</div>
