<!-- Modal -->
<div class="modal fade" id="salesOrderItemModal" role="dialog" ng-controller="salesOrderItemFormController">
    <div class="modal-dialog modal-dialog-full">

        <!-- Modal content-->
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sales Order Item</h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label for="customer" class="col-xs-2 col-form-label col-form-label-sm">Customer Code:</label>
                    <div class="col-xs-2">
                        <select class="form-control input-sm" ng-model="salesOrder.customer" ng-options="customer.code for customer in customers track by customer.id"></select>
                    </div>
                    <label for="customer" class="col-xs-8 col-form-label col-form-label-sm">{{salesOrder.customer.name}}</label>
                </div>
                <div class="form-group row">
                    <label for="salesOrder" class="col-xs-2 col-form-label col-form-label-sm">Sales Order:</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control input-sm" id="price" placeholder="" name="poNumber" ng-model="salesOrder.poNumber">
                    </div>
                    <label for="salesOrderType" class="col-xs-2 col-form-label col-form-label-sm">Type:</label>
                    <div class="col-xs-3">
                        <select class="form-control input-sm" ng-model="salesOrder.salesOrderType" ng-options="salesOrderType.code for salesOrderType in salesOrderTypes track by salesOrderType.id"></select>                 
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-2 col-form-label col-form-label-sm" for="orderReceivedDate">Received Date:</label>
                    <div class='col-xs-10'>
                        <div class='input-group date' id='orderReceivedDateTimepicker' ng-controller="salesOrderFormController">
                            <input type='text' class="form-control form-control-sm" id="orderReceivedDate" name="orderReceivedDate" ng-model="salesOrder.orderReceivedDate" /> <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                            $('#orderReceivedDateTimepicker')
                                    .datetimepicker({
                                    format : 'YYYY-MM-DD'
                                    });
                            });
                        </script>
                    </div>
                </div>

                <div class="form">
                    <div id="production" class="tab-pane fade in active">
                        <div class="form-group">

                            <div class="form-group row">
                                <label class="control-label col-xs-2" for="item">Customer Item:</label>
                                <div class="col-xs-2">
                                    <select class="form-control input-sm" ng-model="customerItem" ng-options="customerItem.customerPartNo for customerItem in salesOrder.customer.customerItemList track by customerItem.id"></select>
                                </div>
                                <label class="control-label col-xs-2" for="quantity">Qty:</label>
                                <div class="col-xs-2">
                                    <input type="text" class="form-control input-sm " id="quantity" placeholder="" name="quantity" ng-model="rowQuantity">
                                </div>
                                <label class="control-label col-xs-2" for="price">Price:</label>
                                <div class="col-xs-1">
                                    <input type="text" class="form-control input-sm" id="price" placeholder="" name="price" ng-model="rowPrice">

                                </div>
                                <div class="col-xs-1">
                                    <button type="button" class="btn btn-default " ng-click="addPurchaseOrderItem()">Add</button>
                                </div>
                            </div>
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>customer Item</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="salesOrderItem in salesOrder.salesOrderItemList">
                                        <td>{{salesOrderItem.customerItem.customerPartNo}}</td>    
                                        <td>{{salesOrderItem.item.code}}</td>       
                                        <td>{{salesOrderItem.quantity}}</td>
                                        <td>{{salesOrderItem.price}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <label class="control-label " for="comment">Comment:</label>

                <input type="text" class="form-control input-sm" id="comment" placeholder="" name="comment" ng-model="comment">

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()"><i class="icon-save"></i>{{saveButtonText}}</button>
                    <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                </div>
            </div>
        </div>
    </div>