<div class="container" ng-controller="folderController" data-ng-init="load()">
    <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-2">
            <h4>You are in</h4>           
            <a ng-href="{{clientBaseURL}}"><i class="fa fa-home fa-2x"></i> > </a><a ng-repeat="x in parents" ng-click="setFolderId(x.id)"><b> {{x.name}} > </b></a>
            <br/><br/>
            <div class="btn btn-sq-75 btn-info row">
                <i class="fa fa-folder-open-o fa-4x" aria-hidden="true"></i> <br />
                <!-- {{folder.name}} -->
            </div>
            <div class="row">
                {{folder.name}}
            </div>
            <hr />
            <p align="justify">{{folder.description}}</p>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Sub Folders</h4>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Create</button>
                    <div ng-include="'pages/folder-form.html'"></div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="x in folder.folders track by $index">
                    <div class="row" ng-if="$index % 5 == 0">
                        <div class="col-sm-9">                            
                            <br/><br/>
                        </div>
                    </div>
                    <!--<div class="col-sm-2"></div>
                    <div class="row" ng-if="$index % 5 == 0" ></div>-->
                    <div class="col-sm-2">
                        <div class="row btn btn-sq-sm btn-info"  ng-click="setFolderId(x.id)" >
                            <i class="fa fa-folder-o fa-3x" aria-hidden="true"></i>                            
                        </div>
                        <div class="row">{{x.name}}</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <h4>Files</h4>
                </div>                
                <div class="col-sm-3">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#fileFormModal">Upload</button>
                    <div ng-include="'pages/file-form.html'"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in folder.files track by $index">
                                <td>
                                    <a ng-click="getFile(file.id)">
                                        {{file.name}}
                                        <!--<img ng-src="data:image/JPEG;base64,{{file.bytes}}"> -->
                                    </a>
                                </td>
                                <td>{{file.uploadDate| date:'yyyy-MM-dd'}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteFileModal" ng-click="setFileToDelete(file)">Delete</button>
                                    <div ng-include="'pages/delete-file-model.html'"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>