<div class="modal fade" id="customerGridModal" role="dialog" ng-controller="customerGridController">
    <div class="modal-dialog modal-dialog-full">

        <!-- Modal content-->
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer Grid</h4>
            </div>
            <div class="modal-body">

                <table id="customerTable" class="display table table-hover table-striped table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Office Address</th>
                            <th>Consignee</th>
                            <th>Notify Party</th>
                            <th>Contact</th>
                            <th>Phone No</th>
                            <th>Fax</th>
                            <th>Payment Term</th>
                            <th>Incoterm</th>
                            <th>Cust Type</th>
                            <th>Vat No</th>
                            <th>S Vat No</th>
                            <th>Currency</th>
                            <th>Country</th>
                            <th>Final Destination</th>
                            <th>Continent</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Office Address</th>
                            <th>Consignee</th>
                            <th>Notify Party</th>
                            <th>Contact</th>
                            <th>Phone No</th>
                            <th>Fax</th>
                            <th>Payment Term</th>
                            <th>Incoterm</th>
                            <th>Cust Type</th>
                            <th>Vat No</th>
                            <th>S Vat No</th>
                            <th>Currency</th>
                            <th>Country</th>
                            <th>Final Destination</th>
                            <th>Continent</th>
                            <th>Note</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        <tr ng-repeat="customer in customers track by $index">
                            <td>{{customer.code}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.officeAddress}}</td>
                            <td>{{customer.consignee}}</td>
                            <td>{{customer.notifyParty}}</td>
                            <td>{{customer.contact}}</td>
                            <td>{{customer.phoneNo}}</td>
                            <td>{{customer.fax}}</td>
                            <td>{{customer.paymentTerm}}</td>
                            <td>{{customer.incoterm}}</td>
                            <td>{{customer.custType}}</td>
                            <td>{{customer.vatNo}}</td>
                            <td>{{customer.sVatNo}}</td>
                            <td>{{customer.currency}}</td>
                            <td>{{customer.country}}</td>
                            <td>{{customer.finalDestination}}</td>
                            <td>{{customer.continent}}</td>
                            <td>{{customer.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="loadSections()">load</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>