<div class="modal fade" id="itemTypeGridModal" role="dialog" ng-controller="itemTypeGridController">
    <div class="modal-dialog modal-dialog-full">

        <!-- Modal content-->
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ItemType Grid</h4>
            </div>
            <div class="modal-body">

                <table id="itemTypeTable" class="display table table-hover table-striped table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Type</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        <tr ng-repeat="itemType in itemTypes track by $index">
                            <td>{{itemType.code}}</td>
                            <td>{{itemType.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="loadSections()">load</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>